[color]
	auto = true
	ui = auto
	diff = auto
	status = auto
	branch = auto
[user]
	name = Constantino Augusto Dias Neto
	email = constantinoneto@gmail.com
[alias]
	s = status
	d = diff
	b = branch
	pl = pull
  a  = add
	co = checkout
	cm = commit -m
	pu = push
	p = diff --cached
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[giggle]
	main-window-maximized = false
	main-window-geometry = 1427x741+7+30
	history-view-vpane-position = 433
	file-view-vpane-position = 308
	main-window-view = HistoryView
[color "status"]
	changed = yellow
	added = green
	untracked = red
